<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Great2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Great2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DBArchive" connectionString="data source=|DataDirectory|\DB\archive.db3;foreign keys=true;datetimeformat=Ticks" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="CacheDirectoryPath" value="%LOCALAPPDATA%\Great2\Cache\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="f08b075e934b7045" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.4" newVersion="2.2.0.4"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Great2.Properties.Settings>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoAddFactories" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoAssignFactories" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CountryCode" serializeAs="String">
        <value>IT</value>
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataDirectoryPath" serializeAs="String">
        <value>%USERPROFILE%\documents\Great2\</value>
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaturdayColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SundayColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="HolidayColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="VacationColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SickColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="HomeworkColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="SpecialLeaveColor" serializeAs="String">
        <value>#00000000</value>
      </setting>
      <setting name="CustomSaturdayColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomSundayColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomHolidayColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomVacationColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomSickColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomHomeworkColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomSpecialLeaveColorUsed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MigrationDataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="AskOrderRecipients" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Currency" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="ExcelExpenseAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CDC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CachedDisplayName" serializeAs="String">
        <value />
      </setting>
    </Great2.Properties.Settings>
  </userSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Great2.Properties.Settings>
      <setting name="Great_SharepointReference_Lists" serializeAs="String">
        <value>https://intranet.elettric80.it/_vti_bin/lists.asmx</value>
      </setting>
    </Great2.Properties.Settings>
  </applicationSettings>
</configuration>
