<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <targets>
    <target name="ConsoleLog" 
            xsi:type="ColoredConsole" 
            Layout="${longdate}|${level:uppercase=true}|${message}"/>
    
    <target name="GlobalLog" 
            xsi:type="File" 
            fileName="${gdc:item=logDirectory}\Global.log" 
            Layout="${longdate}|${level:uppercase=true}|${message}${newline}${onexception:EXCEPTION OCCURRED\: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>       
    
    <target name="GreatImportLog" 
            xsi:type="File" 
            fileName="${gdc:item=logDirectory}\GreatImport.log" 
            Layout="${longdate}|${level:uppercase=true}|${message}${newline}${onexception:EXCEPTION OCCURRED\: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
    
    <target name="FDLImportLog" 
            xsi:type="File" 
            fileName="${gdc:item=logDirectory}\FDLImport.log" 
            Layout="${longdate}|${level:uppercase=true}|${message}${newline}${onexception:EXCEPTION OCCURRED\: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  </targets>
  <rules>    
    <logger name="*" minlevel="Info" writeTo="ConsoleLog" />
    <logger name="GreatImport" minlevel="Debug" writeTo="GreatImportLog" final="true"/>
    <logger name="FDLImport" minlevel="Debug" writeTo="FDLImportLog" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="GlobalLog" />
  </rules>
</nlog>